<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>category</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/category">
                        <i class="bi bi-circle"></i><span>category</span>
                    </a>
                </li>
                <li>
                    <a href="/view-category">
                        <i class="bi bi-circle"></i><span>view category</span>
                    </a>
                </li>
            </ul>

        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>sub category </span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/sub_category">
                        <i class="bi bi-circle"></i><span>sub category</span>
                    </a>
                </li>
                <li>
                    <a href="/view_sub_category">
                        <i class="bi bi-circle"></i><span>view sub category</span>
                    </a>
                </li>
            </ul>

        </li><!-- End Components Nav -->
        {{!-- <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>sub2 category</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/sub2_category.html">
                        <i class="bi bi-circle"></i><span>sub2_category</span>
                    </a>
                </li>
                <li>
                    <a href="/view-sub2-category.html">
                        <i class="bi bi-circle"></i><span>view sub2_category</span>
                    </a>
                </li>
            </ul>

        </li> --}}
        <li class="nav-item">
            <a class="nav-link" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#" aria-expanded="true">
                <i class="bi bi-bar-chart"></i><span>Product</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav" style="">
                <li class="nav-item">
                    <a href="/Product-registration">
                        <i class="bi bi-grid"></i><span>Product registration</span>
                    </a>
                </li>
                <li>
                    <a href="Views-Product">
                        <i class="bi bi-circle"></i><span>Views Product</span>
                    </a>
                </li>
                <li>
                    <a href="charts-echarts.html">
                        <i class="bi bi-circle"></i><span>ECharts</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="/Product-registration">
                <i class="bi bi-grid"></i>
                <span>Product-registration</span>
            </a>
        </li>

    </ul>

</aside><!-- End Sidebar-->